{% extends './base.html'%} {% load static %} {%block content%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <style>
      @media (max-width: 768px) {
        .page-div {
          padding: 10px;
        }
      }
      body {
        background: ;
      }
      .page-div {
        margin: 5%;
      }
      .sec {
        background: white;
        border: 2px solid #d9d9d9;
      }
      .sec-title {
        background: white;
        padding: 15px;
        border: 2px solid #d9d9d9;
        text-align: center;
        height: 70px; /* Adjust this value based on your design needs */
        display: flex;
        justify-content: center; /* This will horizontally center the content */
        align-items: center;
      }
      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .flex-image {
        max-width: 100%;
        height: auto;
      }
      .container {
        width: 100%;
      }
      .icon-text-pair {
        display: flex;
        align-items: center;
        margin-right: 20px;
        width: 150px;
      }

      .icon-text-pair img {
        margin-right: 10px;
      }
      .icon-text-pair p {
        color: black;
        margin-left: 10px;
        padding-top: 12px;
      }
    </style>
  </head>
  <body>
    <div class="page-div">
      <div class="sec-title sec align-middle">
        <h2>Sedans</h2>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'toyota-corolla.png' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">Toyota Corolla</h2>
            <p>
              The Toyota Corolla offers a blend of reliability, comfort, and
              efficiency, making it a top choice for discerning travelers.
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">3 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">3 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Manual</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Petrol</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'bmw-520i-feature.jpg' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">BMW 5 Series</h2>
            <p>
              The BMW 5 Series epitomizes luxury and performance, combining
              elegant design with advanced technology, ensuring a sophisticated
              travel experience for every passenger.
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">3 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Manual</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Petrol / Diesel</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'bmw740d_feature-min.jpg' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">BMW 7 Series</h2>
            <p>
              The BMW 7 Series stands as a pinnacle of luxury and innovation,
              offering unparalleled comfort, cutting-edge technology, and a
              commanding presence for the ultimate chauffeur-driven experience.
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">3 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Manual</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Petrol / Diesel</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'Mercedes-Benz-C220d-Sedan-AMG-Line-2023.jpg' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">Mercedes Benz C Class</h2>
            <p>
              "The Mercedes-Benz C-Class blends timeless elegance with modern
              sophistication, delivering a refined chauffeur experience
              characterized by luxury, comfort, and superior performance.
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">3 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Manual</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Petrol / Diesel</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="sec-title sec align-middle mt-5">
        <h2>SUVs</h2>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'bmw-x5-feature.jpg' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">BMW X5</h2>
            <p>
              The BMW X5 seamlessly merges luxury with versatility, offering
              chauffeur passengers a spacious, comfortable ride paired with the
              performance of a premier SUV.
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">3 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">5 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Automatic</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Diesel</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'bmw_x7_23_feature-min.jpg' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">BMW X7</h2>
            <p>
              The BMW X7 epitomizes grandeur and sophistication, providing a
              chauffeur-driven journey marked by expansive luxury, advanced
              technology, and unparalleled comfort.
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">3 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">5 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Automatic</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Diesel</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'RangeRoverSport_TDV6_feature-min.jpg' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">Range Rover Sport</h2>
            <p>
              The Range Rover Sport embodies a perfect blend of luxury and
              performance, ensuring passengers experience a chauffeur-driven
              journey marked by elegance, comfort, and unparalleled capability.
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">3 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">5 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Automatic</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Diesel</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="sec-title sec align-middle mt-5">
        <h2>Minivans</h2>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'mercedes-v-class.jpg' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">Mercedes-Benz V-Class</h2>
            <p>
              The Mercedes-Benz V-Class minivan offers a harmonious blend of
              spacious luxury and functionality, providing chauffeur-driven
              travelers with unparalleled comfort, versatility, and
              sophistication on every journey.
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">7 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">5 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Automatic</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Petrol</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'toyota-quantum-feature.jpg' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">Toyota Quantum</h2>
            <p>
              The Toyota Quantum stands as a benchmark for reliability and
              versatility in passenger transportation, ensuring a comfortable
              and efficient chauffeur experience with its spacious design and
              trusted performance.
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">7 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">5 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Automatic</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Petrol</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row image-container sec mt-3">
          <div class="col-md-6 col-sm-12">
            <img
              src="{% static 'volkswagen-t5-kombi-feature-removebg-preview.png' %}"
              alt="Limousine"
              class="flex-image"
            />
          </div>
          <div class="col-md-6 col-sm-12 fluid">
            <h2 class="mb-4">Volkswagen T6 Kombi 2.0 TDI DSG</h2>
            <p>
              The Volkswagen T6 Kombi 2.0 TDI DSG seamlessly combines
              versatility with efficiency, providing a chauffeur-driven
              experience marked by spacious comfort, agile handling, and trusted
              Volkswagen reliability
            </p>
            <div class="d-flex justify-content-start align-text-center">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_passengers.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">7 Passengers</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_luggage.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">4 Bags</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_doors.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">5 Doors</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_transmission.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Automatic</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_petrol.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Diesel</p>
              </div>
              <div class="icon-text-pair">
                <img
                  src="{% static 'car_details_AC.png' %}"
                  width="25px"
                  height="25px"
                />
                <p style="color: black; margin-left: 10px">Air Con</p>
              </div>
            </div>
            <p><a href="/book" style="color: red">Book Now</a></p>
          </div>
        </div>
      </div>
    </div>

    <script src="" async defer></script>
  </body>
</html>
{% endblock %}
