{% extends './base.html' %} {% load static %} {% block content %}
<div class="container-fluid m-0 p-0">
  <div class="row">
    <div class="col-5 d-flex align-items-center justify-content-center">
      <div>
        <h1 style="font-size: 500%">Let Us <br />Drive You</h1>
      </div>
    </div>
    <div class="col-7">
      <!-- Render the static image file using the static template tag -->
      <img
        src="{% static 'Limousine-transfer-chauffeur.jpg' %}"
        alt="Limousine Transfer Chauffeur"
      />
    </div>
  </div>
</div>
{% endblock %}
